[Desktop Entry]
Name=Hoogle runner
Comment=Query hoogle for the entered text
Type=Service
Icon=hoogle.png
ServiceTypes=Plasma/Runner
X-Plasma-API=python
X-Plasma-MainScript=code/main.py
X-KDE-PluginInfo-Author=Alexander Lehmann
X-KDE-PluginInfo-Email=afwlehmann@googlemail.com
X-KDE-PluginInfo-Name=hoogle-runner
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://github.com/afwlehmann/hoogle-runner
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-EnabledByDefault=true
